:host{
  position: absolute;
  top: 0;
  right: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1000;
}

.heart{
  padding-right: .5rem;
  width: 2rem;
}
.heart img{
  width: 3rem;
}
.heart:last-child{
  padding-right: 0;
}
